html
body
head
    include ../partials/header
    title Welcome
    script(src='javascripts/main.js')
    link(rel='stylesheet', href='stylesheets/style.css')
  body

    #content
      div
        form(method="get", action="/login")
          input(type="image" src="/images/githubtn.png")
